@model ModeloVista
@{
    ViewData["Title"] = "Agregar Conductor";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
}
<p class="text-sm-center"><strong>Cupos Disponibles : </strong>@ViewBag.Cupos</p>
<br />
<h1>Agregar Conductor</h1>
<div class="card shadow">
    <h5 class="card-header bg-primary text-white">Ingrese los Datos:</h5>
    <div class="card-body">
        <form asp-action="Crear_Conductor" asp-controller="Empresa" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label"><strong>Foto:</strong></label>
                        <input type="file" class="form-control" asp-for="Archivo_4" placeholder="Foto" required accept=".png, .jpg, .jpeg">
                    </div>

                    <div class="mb-3">
                        <label class="form-label"><strong>Nombre:</strong></label>
                        <input type="text" class="form-control" asp-for="Conductor.Nombre" placeholder="Nombre Completo" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label"><strong>Número Cédula:</strong></label>
                        <input type="number" class="form-control" asp-for="Conductor.NumeroCedula" placeholder="100000000" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label"><strong>Teléfono:</strong></label>
                        <input type="number" class="form-control" asp-for="Conductor.Telefono" placeholder="Número de Teléfono" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label"><strong>Celular:</strong></label>
                        <input type="number" class="form-control" asp-for="Conductor.Celular" placeholder="Número Celular" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label"><strong>Correo:</strong></label>
                        <input type="email" class="form-control" asp-for="Conductor.Correo" placeholder="Correo Electrónico" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label"><strong>Dirección:</strong></label>
                        <input type="text" class="form-control" asp-for="Conductor.Direccion" placeholder="Cra/Clle X # xx - xx" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label"><strong>Ciudad:</strong></label>
                        <input type="text" class="form-control" asp-for="Conductor.Ciudad" placeholder="Ciudad o Departamento" required>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label"><strong>RH:</strong></label>
                        <input type="text" class="form-control" asp-for="Conductor.GrupoSanguineo" placeholder="Grupo Sanguíneo (Ej: AB-)" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label"><strong>EPS:</strong></label>
                        <input type="text" class="form-control" asp-for="Conductor.Eps" placeholder="EPS afiliado" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label"><strong>ARL:</strong></label>
                        <input type="text" class="form-control" asp-for="Conductor.Arl" placeholder="ARL Afiliado" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label"><strong>Documento Cédula:</strong></label>
                        <input type="file" class="form-control" asp-for="Archivo_1" accept=".pdf" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label"><strong>Documento EPS:</strong></label>
                        <input type="file" class="form-control" asp-for="Archivo_2" placeholder="Documento EPS.pdf" required accept=".pdf">
                    </div>

                    <div class="mb-3">
                        <label class="form-label"><strong>Documento ARL:</strong></label>
                        <input type="file" class="form-control" asp-for="Archivo_3" placeholder="Documento ARL.pdf" required accept=".pdf">
                    </div>
                </div>
            </div>

            <div class="d-grid gap-2 col-md-6 mx-auto mt-3">
                <button type="submit" class="btn btn-success w-100">Crear</button>
                <a href="javascript:history.back()" class="btn btn-primary w-100">Volver</a>
            </div>
        </form>
    </div>
</div>


<!-- Modal de Confirmación -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Conductor Guardado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <p>El conductor ha sido guardado con éxito.</p>
                <p><strong>ID del Conductor:</strong> @ViewBag.IdConductor</p>
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("Conductores", "Empresa")" class="btn btn-success">Ir a Conductores</a>
            </div>
        </div>
    </div>
</div>

<p>@ViewBag.Mensaje</p>
@section Scripts {
    <script>
        $(document).ready(function () {
            var exito = "@ViewBag.Exito";
            if (exito === "True") {
                $('#successModal').modal('show'); // Muestra el modal automáticamente si el guardado fue exitoso
            }
        });
    </script>
}
