@model List<Conductor>
@{
    ViewData["Title"] = "Conductores";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
}

<h1>Conductores</h1>
<p>Vehiculos de la empresa:</p>
<br />
<a asp-action="Agregar_Conductor" asp-controller="Empresa" class="btn btn-success btn-sm"><strong>Agregar Conductor</strong></a>
@if (Model != null)
{
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID Vehiculo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cedula</th>
                <th scope="col">Telefono</th>
                <th scope="col">Correo</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Detalle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IdConductor</td>
                    <td class="col-Nombre">@item.Nombre</td>
                    <td class="col-Cedula">@item.NumeroCedula</td>
                    <td class="col-Telefono">@item.Telefono</td>
                    <td class="col-Correo">@item.Correo</td>
                    <td class="col-Correo">@item.Ciudad</td>

                    <td><a asp-action="Detalle_Conductor" asp-controller="Empresa" asp-route-IdConductor="@item.IdConductor" class="btn btn-primary btn-sm">Ver</a></td>
                </tr>
            }
        </tbody>
    </table>
    
}
else
{
    <p>No se encontraron Conductores registrados</p>
}
<p>@ViewBag.Mensaje</p>

