@model ModeloVista
@{
    ViewData["Title"] = "Detalle Propietario";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
}

<h1>Detalle del Propietario</h1>
@if (Model.Propietario != null)
{
    <div class="card">
        <h5 class="card-header">Señor/a @Model.Propietario.Nombre</h5>
        <div class="card-body">

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"><strong>Documento: </strong></label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.Propietario.NumeroCedula">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"><strong>Telefono: </strong></label>
                <div class="col-sm-10">
                    <input type="number" readonly class="form-control-plaintext" value="@Model.Propietario.Telefono">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"><strong>Correo: </strong></label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.Propietario.Correo">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"><strong>Dirección: </strong></label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.Propietario.Direccion">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"><strong>Ciudad: </strong></label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.Propietario.Ciudad">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"><strong>Estado Actual: </strong></label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="@(Model.Propietario.Estado ? "Activo" : "Inactivo")">
                </div>
            </div>

            
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"><strong>Documento Cedula: </strong></label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.Propietario.DocumentoCedula">
                </div>
            </div>


            <h5>Vehiculos Asociados:</h5>
            @if(Model.Vehiculos != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID Vehiculo</th>
                            <th scope="col">Placa</th>
                            <th scope="col">Estado</th>
                            <th scope="col">SOAT</th>
                            <th scope="col">Tecnico Mecanica</th>
                            <th scope="col">Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Vehiculos)
                        {
                            <tr>
                                <td>@item.IdVehiculo</td>
                                <td class="col-Placa">@item.Placa</td>
                                <td class="col-Propietario">@(item.Estado ? "Habilitado" : "No Habilitado")</td>
                                <td class="col-Fecha">@((item.Soat != null) ? "Si" : "No")</td>
                                <td class="col-Fecha">@((item.TecnicoMecanica != null) ? "Si" : "No")</td>
                                <td><a asp-action="Detalle_Vehiculo" asp-controller="Empresa" asp-route-IdVehiculo="@item.IdVehiculo" class="btn btn-primary btn-sm">Ver</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No hay vehiculos Registrados a nombre de este propietario</p>
            }

            <p>@ViewBag.Mensaje</p>

            <a href="javascript:history.back()" class="btn btn-success">Volver</a>
            <a asp-action="Editar_Propietario" asp-controller="Empresa" asp-route-IdPropietario="@Model.Propietario.IdPropietario" class="btn btn-warning">Editar</a>

            <!-- Botón para abrir el modal de confirmación -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                Eliminar
            </button>

            <!-- Modal de Confirmación -->
            <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmDeleteLabel">Confirmar Eliminación</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro de que deseas eliminar este Propietario?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <!-- Formulario para eliminar -->
                            <form asp-action="Eliminar_Propietario" asp-controller="Empresa" method="post">
                                <input type="hidden" name="IdPropietario" value="@Model.Propietario.IdPropietario"/>
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
else
{
    <p>No se encontró el Dato:</p>
    <p>@ViewBag.Mensaje</p>
    <a href="javascript:history.back()" class="btn btn-success">Volver</a>
}

