@model Conductor
@{
    ViewData["Title"] = "Detalle Conductor";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
}

<p class="text-sm-center"><strong>Cupos Disponibles : </strong>@ViewBag.Cupos</p>
<br />

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-info text-center">@TempData["Mensaje"]</div>
}
@if (Model != null)
{
    <div class="d-flex justify-content-center mt-4">
        <div class="card shadow-lg rounded-4 p-4 w-75">
            <div class="row g-3 align-items-center">
                <!-- Imagen -->
                <div class="col-md-4 text-center">
                    <img src="@(string.IsNullOrEmpty(Model.Foto) ? "/imagenes/noimage.png" : "data:image/png;base64," + Model.Foto)"
                        class="img-fluid rounded-circle border shadow-sm p-2"
                        alt="Usuario"
                        style="max-width: 150px;"
                        onerror="this.onerror=null; this.src='/imagenes/noimage.png';">
                </div>


                <!-- Información -->
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title text-center fw-bold">Detalles del Conductor</h4>
                        <hr />

                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-text"><strong>Nombre:</strong> <span class="text-muted">@Model.Nombre</span></p>
                                <p class="card-text"><strong>Cédula:</strong> <span class="text-muted">@Model.NumeroCedula</span></p>
                                <p class="card-text"><strong>Teléfono:</strong> <span class="text-muted">@Model.Telefono</span></p>
                                <p class="card-text"><strong>Correo:</strong> <span class="text-muted">@Model.Correo</span></p>
                                <p class="card-text">
                                    <strong>Contraseña:</strong>
                                    <div class="input-group w-65">
                                        <input type="password" id="passwordField" class="form-control text-muted" value="@Model.Contrasena" readonly>
                                        <button type="button" class="btn btn-outline-secondary" onclick="togglePassword()">
                                            <strong>Ver</strong>
                                        </button>
                                    </div>
                                </p>
                                <p class="card-text"><strong>Dirección:</strong> <span class="text-muted">@Model.Direccion</span></p>
                                <p class="card-text"><strong>Ciudad:</strong> <span class="text-muted">@Model.Ciudad</span></p>
                                <p class="card-text">
                                    <strong>Estado:</strong>
                                    <span class="badge @(Model.Estado ? "bg-success" : "bg-danger")">
                                        @(Model.Estado ? "Activo" : "Inactivo")
                                    </span>
                                </p>
                            </div>

                            <div class="col-md-6">
                                <p class="card-text"><strong>RH:</strong> <span class="text-muted">@Model.GrupoSanguineo</span></p>
                                <p class="card-text"><strong>EPS:</strong> <span class="text-muted">@Model.Eps</span></p>
                                <p class="card-text"><strong>ARL:</strong> <span class="text-muted">@Model.Arl</span></p>
                                <p class="card-text">
                                    <strong>Documento Cédula:</strong>
                                    <button class="btn btn-outline-primary btn-sm" onclick="abrirDocumento('@Model.DocumentoCedula')">
                                        <i class="fas fa-file-pdf"></i><strong>Ver Cedula</strong>
                                    </button>
                                </p>

                                <p class="card-text">
                                    <strong>Documento EPS:</strong>
                                    <button class="btn btn-outline-primary btn-sm" onclick="abrirDocumento('@Model.DocumentoEps')">
                                        <i class="fas fa-file-pdf"></i><strong>Ver Eps</strong>
                                    </button>
                                </p>

                                <p class="card-text">
                                    <strong>Documento ARL:</strong>
                                    <button class="btn btn-outline-primary btn-sm" onclick="abrirDocumento('@Model.DocumentoArl')">
                                        <i class="fas fa-file-pdf"></i> <strong>Ver Arl</strong>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Botones de acción -->
            <div class="d-flex justify-content-center mt-4 gap-2">
                <a asp-action="Ver_Horario_Conductor" asp-controller="Empresa" asp-route-IdConductor="@Model.IdConductor" class="btn btn-secondary">Consultar Horarios</a>
                <a asp-action="Editar_Conductor" asp-controller="Empresa" asp-route-IdConductor="@Model.IdConductor" class="btn btn-warning">Editar</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Eliminar</button>
                <a href="javascript:history.back()" class="btn btn-success">Volver</a>
            </div>
        </div>
    </div>

    <!-- Modal de Confirmación -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteLabel">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar este conductor?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <form asp-action="Eliminar_Conductor" asp-controller="Empresa" method="post">
                        <input type="hidden" name="IdConductor" value="@Model.IdConductor" />
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="d-flex justify-content-center mt-4">
        <div class="card text-dark bg-warning shadow-lg rounded-4 p-4 w-50 text-center">
            <div class="card-header fw-bold">Error al Buscar</div>
            <div class="card-body">
                <h5 class="card-title">No se encontraron registros</h5>
                <p class="card-text">Prueba a revisar tus datos ingresados</p>
            </div>
        </div>
    </div>
}

<script>
    function abrirDocumento(base64) {
        if (base64 && base64.trim() !== "") {
            var nuevaVentana = window.open();
            nuevaVentana.document.write('<iframe width="100%" height="100%" src="data:application/pdf;base64,' + base64 + '"></iframe>');
        } else {
            alert("No hay documento disponible.");
        }
    }
    function togglePassword() {
        var passwordField = document.getElementById("passwordField");
        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }
</script>
