@model Vehiculo
@{
    ViewData["Title"] = "Editar Vehiculo";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
}

<h1>Editar Vehiculo</h1>


@if (Model != null)
{
    <p>Llene los campos que desea editar</p>
    <p>Los campos que no se deseen editar, pueden quedar vacios</p>
    <div class="card">
        <h5 class="card-header">Información:</h5>
        <div class="card-body">

            <h5 class="card-title">Vehículo @Model.Placa</h5>
            <form asp-action="Guardar_Vehiculo" asp-controller="Empresa" method="post">

                <div class="mb-3 row">
                    <label for="staticIdVehiculo" class="col-sm-2 col-form-label"><strong>ID Vehiculo: </strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" readonly id="staticIdVehiculo" asp-for="IdVehiculo" value="@Model.IdVehiculo">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="staticEstado" class="col-sm-2 col-form-label"><strong>Estado Actual: </strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" readonly id="staticEstado" asp-for="Estado" placeholder="@(Model.Estado ? "Habilitado" : "No Habilitado")">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="staticSOAT" class="col-sm-2 col-form-label"><strong>SOAT: </strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="staticSOAT" asp-for="Soat" placeholder="@Model.Soat">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="staticTecnicoMecanica" class="col-sm-2 col-form-label"><strong>Tecnico Mecanica: </strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="staticTecnicoMecanica" asp-for="TecnicoMecanica" placeholder="@Model.TecnicoMecanica">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="staticIdPropietario" class="col-sm-2 col-form-label"><strong>Id Propietario: </strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="staticIdPropietario" asp-for="IdPropietario" placeholder="@Model.IdPropietario">
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Editar</button>
            </form>
            <p>@ViewBag.Mensaje</p>
            <a href="javascript:history.back()" class="btn btn-danger">Cancelar</a>
            
        </div>
    </div>
}
else
{
    <p>No se encontró el Dato:</p>
    

    <a href="javascript:history.back()" class="btn btn-success">Volver</a>
}

<p>@ViewBag.Mensaje</p>


