@model List<DatosEmpresa>
@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
}

<h1>@ViewBag.Mensaje</h1>
<br />
<p>@ViewBag.Mensaje</p>
<td><a asp-action="#" asp-controller="#" class="btn btn-secondary btn-sm">Filtrar</a></td>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Placa</th>
            <th scope="col">Propietario</th>
            <th scope="col">Conductor</th>
            <th scope="col">Fecha</th>
            <th scope="col">Desde</th>
            <th scope="col">Hasta</th>
            <th scope="col">Detalles</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Placa</td>
                <td>@item.NombrePropietario</td>
                <td>@item.Conductor</td>
                <td>@item.Fecha</td>
                <td>@item.HoraInicio</td>
                <td>@item.HoraFin</td>
                <td><a asp-action="#" asp-controller="#" asp-route-idVehiculo="@item.IdVehiculo" class="btn btn-primary btn-sm">Detalle</a></td>


            </tr>
        }
        
    </tbody>
</table>

<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">Placa</label>

</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">Propietario</label>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">Fecha</label>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">Desde</label>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">Hasta</label>
</div>



