@model List<Vehiculo>
@{
    ViewData["Title"] = "Vehiculos";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
}

<h1>Vehiculos</h1>
<p>Vehiculos de la empresa:</p>
<br />
<a asp-action="Agregar_Vehiculo" asp-controller="Empresa" class="btn btn-outline-success btn-sm"><strong>Agregar Vehiculo</strong></a>
@if(Model != null)
{
    
    <table class="table" >
        <thead>
            <tr>
                <th scope="col">ID Vehiculo</th>
                <th scope="col">Placa</th>
                <th scope="col">Estado</th>
                <th scope="col">SOAT</th>
                <th scope="col">Tecnico Mecanica</th>
                <th scope="col">Detalles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IdVehiculo</td>
                    <td class="col-Placa">@item.Placa</td>
                    <td class="col-Propietario">@(item.Estado ? "Habilitado" : "No Habilitado")</td>
                    <td class="col-Fecha">@((item.Soat != null) ? "Si" : "No")</td>
                    <td class="col-Fecha">@((item.TecnicoMecanica != null) ? "Si" : "No")</td>
                    <td><a asp-action="Detalle_Vehiculo" asp-controller="Empresa" asp-route-IdVehiculo="@item.IdVehiculo" class="btn btn-primary btn-sm">Ver</a></td>
                </tr>
            }
        </tbody>
    </table>
    <p>@ViewBag.Mensaje</p>
}
else
{
    <p>No se encontraron vehiculos registrados</p>
}


